{% extends 'base.html' %}

{% block title %}
OceanOne
{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='desktop.css') }}">
{% endblock stylesheets %}

{% block main %}
<div id="main-container">
    <div id="main-screen">
        <div id="weather-widget"></div>
    </div>

    <div id="taskbar">
        <div id="taskbar-apps">
            <div class="app-icon">
                <button>Click ME!</button>
            </div>
            <div class="app-icon">
                <button>Click ME!</button>
            </div>
        </div>
    </div>

</div>
{% endblock main %}