.preview-container {
    width: 100%;
    height: 100%;
}

.preview-header {
    display: flex;

    margin-bottom: 3px;

    width: fit-content;
    height: fit-content;
}

.preview-body {
    height: 90%;
    border-radius: 5px;
    border: 1px solid transparent;

}

.preview-body:hover {
    border: 1px solid rgb(5, 180, 239);
    background-color: rgba(4, 159, 211, 0.25);
}