/* --- Layout --- */

#main-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

/* --- Desktop background --- */
#main-screen {
    position: relative;
    height: inherit;
}

.background-img {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url("0.png");
    background-position: center;
    background-size: cover;

}

.fade-in-anim {
    animation: 5s fade-in;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* --- Taskbar --- */

#taskbar {
    display: flex;
    position: relative;
    background-color: rgb(28, 35, 55);

    height: 5%;

    border-top: 1px solid rgba(255,255,255,0.06);
    box-shadow: 0 -4px 10px rgba(0,0,0,0.4);

    z-index: 1001;  /* Puts the taskbar on top of any window that is focussed onto */
}

#taskbar-apps {
    position: relative;
    display: flex;
    flex-flow: row;

    width: 100%;
    justify-content: center;

    gap: 5px;
}

.app {
    position: relative;
    width: 65px;
    height: 50px;

    display: flex;
    justify-content: center;
}

.app-icon {
    position: relative;

    top: 50%;
    transform: translateY(-50%);

    height: 100%;
    width: 100%;
}

.app-icon:hover {
    background-image: radial-gradient(closest-side at 50%, rgba(215, 13, 13, 0.73), transparent);
}

.opened-app {
    background-color: rgba(0, 0, 0, 0.22);
}

.focussed-app {
    border-top: 1px solid #dd3131;
}

.app-icon button {
    height: 100%;
    width: 100%;

    background-image: url("email-icon.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

.app-icon button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

/* --- Page Loader --- */

#page-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    z-index: 1002;  /* Above the taskbar */
}

#loader {
    width: 9vh;  /* applied in vh as it wobbles slightly with '%' */
    height: 9vh;
    border-radius: 50%;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 16px solid black;
    border-top: 16px solid red;

    background: radial-gradient(closest-side at 50%, rgb(120, 0, 0) 30%, black);
    box-shadow: 0px -3px 0px 2px rgba(220, 0, 0, 0.3);

    animation: 2s loader-spin infinite;

    opacity: 1;
    transition: opacity 1s;
}

.loader-fade-out {
    opacity: 0;
    transition: opacity 1s;
}

.suspend-pointer {
    pointer-events: none;
}

@keyframes loader-spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.fake-url {
    font-size: 0.75rem;
    color: #9ca3af;
    margin-top: -4px;
    margin-bottom: 10px;
    word-break: break-all;
}
