/* ------- Window Toggle States ------- */

.hidden {
    display: none !important;
}

.focussed-window {
    z-index: 1000;
}

/* ------- Window Styles ------- */

.app-window {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 55%;
    height: 65%;
    border: 1px solid #353030;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);

    display: flex;
    flex-flow: column;
}

.title-bar {
    background: #333;
    color: white;
    padding: 8px;
    display: flex;
    align-items: center;

    cursor: move;
    user-select: none;

    height: fit-content;

    border-bottom: 1px solid #252525;
}

.window-body {
    height: 100%;
    overflow: hidden;

    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.2);
}

.window-title {
    width: fit-content;
}

.window-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    gap: 0.9%;
}

.window-actions button, .new-win-btn {
    cursor: pointer;
    border-radius: 3px;
    color: white;
    border: 1px solid transparent;
    width: 25px;  /* This is so that each button has the same width as each other */
}

.close-btn {
    background: rgb(210, 0, 0);
}

.close-btn:hover {
    border: 1px solid red;
}

.minimise-btn {
    background: transparent;
}

.minimise-btn:hover {
    border: 1px solid rgb(5, 180, 239);
}

.resize-handle {
    position: absolute;

    width: 5px;
    height: 5px;

    background: #ccc;
    border-radius: 3px;
}

.resize-handle-se {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);

    cursor: se-resize;
}

.resize-handle-sw {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);

    cursor: sw-resize;
}

.resize-handle-ne {
    right: 0;
    top: 0;
    transform: translate(50%, -50%);

    cursor: ne-resize;
}

.resize-handle-nw {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);

    cursor: nw-resize;
}
