#main-screen {
    position: relative;
    height: inherit;
}

#main-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#taskbar {
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);

    height: 5%;
}

#taskbar-apps {
    position: relative;
    display: flex;
    flex-flow: row;

    width: 100%;
    justify-content: center;
}

.app {
    position: relative;

    width: 6%;

    display: flex;
    justify-content: center;
}

.app-preview {
    position: absolute;

    width: fit-content; /*425%;*/
    height: fit-content; /*375%;*/
    padding: 10px;
    border-radius: 3px;

    bottom: 100%;  /* Ensures the preview is always above the app */

    background-color: rgb(82, 81, 70);

    /* Centralises the contents of the preview to match its centered alignment with the app. */
    display: flex;
    justify-content: center;
}

#app-label {
    top: 85%;
}

.app-icon {
    position: relative;

    top: 50%;
    transform: translateY(-50%);

    height: 100%;
    width: 100%;
}

.app-icon button {
    height: 100%;
    width: 100%;
}

.app-icon button:hover {

}
