.app-previews {
    position: absolute;
    bottom: 100%;  /* Ensures the preview is always above the app */

    border-radius: 9px 9px 3px 3px;
    background-color: rgb(42, 39, 62);
    border: 1px solid black;
    border-bottom: transparent;
    box-shadow: 0px -2px 3px 0px black;

    display: flex;
}

.app-label {
    color: white;
    position: relative;
    top: 85%;
    padding: 10px;
}

.preview-container {
    width: 20vw;
    height: 20vh;

    display: flex;
    flex-flow: column;

    border-radius: inherit;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.preview-header {
    display: flex;

    padding-top: 5px;
    margin-bottom: 3px;
    padding-bottom: 2px;

    border-radius: inherit;
    border-top-right-radius: 0;

    width: 100%;
    height: fit-content;

    background: rgba(0, 0, 0, 0.3);
}

.preview-title {
    color: white;
    padding-left: 5px;
}

.preview-actions {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.preview-actions .close-button {
    color: white;
    background: transparent;
    border-radius: 50%;
    width: 20px;
    margin-right: 4px;
    border: transparent;
    cursor: pointer;
}

.preview-actions .close-button:hover {
    background: radial-gradient(closest-side at 50%, rgb(161, 55, 55) 70%, transparent);
}

.preview-body {
    height: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
}

.preview-body:hover {
    border: 1px solid rgb(5, 180, 239);
    background-color: rgba(4, 159, 211, 0.25);
}

.new-win-btn {
    width: auto;
    border-left: 1px solid black;
    background: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 0;
}

.new-win-btn:hover {
    background: rgba(0, 0, 0, 0.4);
}