.email-layout {
    height: 100%;
    padding: 0;
}

.email-preview {
    display: flex;
    gap: 15px;

    border: 1px groove transparent;

    font-size: 15px;
}

.email-preview:hover {
    border: 1px groove black;
    box-shadow: 0px 0px 3px 0.1px black;
}

.unread {
    background: rgba(0, 0, 0, 0.2);
    padding: 8px;

    font-weight: bold;
}

.email-from, .email-snippet {
    overflow: hidden;
    text-wrap: nowrap;
}

.email-snippet {
    /* Clips the text such that the linear gradient applies to it, instead of the background */
    background: linear-gradient(to right, #bdbdbd 90%, transparent);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.email-from {
    background: linear-gradient(to right, white 90%, transparent);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.email-subject {
    background: rgba(255, 255, 255, 0.8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.email-from {
    width: 33%;
}

.email-snippet {
    width: 100%;
}

.email-message {
    font-weight: normal !important;
}



.email-header h2 {
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
}

.email-meta {
    font-size: 0.8rem;
    color: #9ca3af;
    margin-bottom: 0.8rem;
}

.email-body-panel {
    display: none;
    font-size: 0.9rem;
    line-height: 1.5;
}

.email-body-panel.active {
    display: block;
}