/* --- Set the font for this page --- */
@font-face {
    font-family: cybercafe;
    src: url(cybercafe.ttf);
}

#death-screen-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#death-screen-message {
    display: flex;
    flex-flow: column;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 60%;
    width: fit-content;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0.77);
    border-radius: 11px;

    font-family: cybercafe;
    font-weight: bold;
    color: #a12a2a;

    padding: 20px;
    box-shadow: 0 0 5px 5px #5e1616;
}

#restart-container {
    display: flex;
    justify-content: center;
}

button {
    /* Needs to explicitly state the following for a button */
    font-family: cybercafe;
    font-weight: bold;
    font-size: inherit;
    color: #a12a2a;

    background-color: transparent;
    border: 1px solid #5e1616;

    padding: 8px;

    cursor: pointer;
}

button:hover {
    color: #d25050;
    border-color: #a12a2a;
}