.email-layout {
    height: 100%;
    padding: 0;
}

.email-preview {
    display: flex;
    gap: 15px;
    padding: 8px;

    border: 1px groove transparent;
    border-bottom: 1px groove rgba(0, 0, 0, 0.2);

    font-size: 15px;
}

.email-preview:hover {
    border: 1px groove black;
    box-shadow: 0px 0px 3px 0.1px black;
}

.unread {
    background: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.email-from, .email-snippet {
    overflow: hidden;
    text-wrap: nowrap;
}

.email-snippet {
    /* Clips the text such that the linear gradient applies to it, instead of the background */
    background: linear-gradient(to right, #bdbdbd 90%, transparent);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.email-from {
    background: linear-gradient(to right, white 90%, transparent);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.email-subject {
    background: rgba(255, 255, 255, 0.8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.email-from {
    width: 33%;
}

.email-snippet {
    width: 100%;
}

.email-message {
    font-weight: normal !important;
}

.email-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.email-body {
    display: flex;
    flex-flow: column;
}

.email-body-header {
    display: flex;
    gap: 10px;
    padding: 15px;

    position: sticky;
    top: 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.1);
}

.email-content {
    padding: 5px 15px 15px 15px;
    color: white;
}

.view-email-list {
    width: 36px;
}

.email-header-title {
    display: flex;
    flex-flow: column;
}

.sender-details {
    text-wrap: nowrap;
    color: white;
    font-size: small;

    display: flex;
    gap: 10px;
}

.email-body-header-actions {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.email-title {
    text-wrap: nowrap;
    color: white;
    font-weight: bold;
}