.app-previews {
    position: absolute;

    padding: 10px;
    border-radius: 3px;

    bottom: 100%;  /* Ensures the preview is always above the app */

    background-color: rgb(82, 81, 70);
    visibility: hidden;

    display: flex;
}

.preview-container {
    width: 20vw;
    height: 20vh;

    display: flex;
    flex-flow: column;

    margin: 0 5px;
}

.preview-header {
    display: flex;

    margin-bottom: 3px;

    width: 100%;
    height: fit-content;
}

.preview-title {
    color: white;
}

.preview-actions {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    gap: 5px;
}

.preview-body {
    height: 100%;
    border-radius: 5px;
    border: 1px solid transparent;

}

.preview-body:hover {
    border: 1px solid rgb(5, 180, 239);
    background-color: rgba(4, 159, 211, 0.25);
}