.app-previews {
    position: absolute;
    bottom: 100%;  /* Ensures the preview is always above the app */

    border-radius: 9px 9px 3px 3px;
    background-color: rgb(82, 81, 70);

    display: flex;
}

.app-label {
    color: white;
}

.preview-container {
    width: 20vw;
    height: 20vh;

    display: flex;
    flex-flow: column;

    border-radius: inherit;
}

.preview-header {
    display: flex;

    margin-bottom: 3px;
    padding: 5px;
    border-radius: inherit;

    width: 100%;
    height: fit-content;

    background-image: linear-gradient(to right, rgba(4, 8, 19, 0.9), transparent 90%);
}

.preview-title {
    color: white;
}

.preview-actions {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    gap: 5px;
}

.preview-body {
    height: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
}

.preview-body:hover {
    border: 1px solid rgb(5, 180, 239);
    background-color: rgba(4, 159, 211, 0.25);
}