#main-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#taskbar {
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);

    height: 5%;
}

#taskbar-apps {
    position: relative;
    margin: 1%;
    display: flex;
    flex-flow: row;

    width: 100%;
    justify-content: center;
}

.app-icon {
    position: relative;

    width: max-content;
    height: max-content;

    top: 50%;
    transform: translateY(-50%);
}

#main-screen {
    position: relative;
    height: inherit;
}

/* ------- */

#weather-widget {
    position: relative;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
