<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Oliver Winhammar & Bernard Keenan">
        <meta name="keywords" content="Concept-OS, CyberSecurity-Engagement">
        <meta name="description" content="An engaging cybersecurity awareness course.">
        <title>{% block title %}{% endblock title %}</title>
        {% block stylesheets %}{% endblock stylesheets %}
        {% block scripts %}{% endblock scripts %}
    </head>
    <body>
        <main>{% block main %}{% endblock main %}</main>
    </body>
</html>