<div class="title-bar">
    {% block title_bar %}{% endblock title_bar %}
</div>

<div class="window-body">
    {% block window_body %}{% endblock window_body %}
</div>

<div class="resize-handlebar resize-handle-s"></div>
<div class="resize-handlebar resize-handle-e"></div>
<div class="resize-handlebar resize-handle-w"></div>
<div class="resize-handlebar resize-handle-n"></div>

<div class="resize-handle resize-handle-se"></div>
<div class="resize-handle resize-handle-sw"></div>
<div class="resize-handle resize-handle-ne"></div>
<div class="resize-handle resize-handle-nw"></div>
