<h2>
    Welcome to OceanOne!
</h2>

<p>
    I am excited to introduce you to the OceanOne concept operating system! This web-environment will aim to educate
    and test you on the following:
</p>

<ol>
    <li>
        Real-world threats you may have the misfortune to come across within your digital life.
    </li>
    <li>
        The best ways to protect yourself against them.
    </li>
</ol>

<p>
    One outcome of this project is for you to take the vigilance you will learn within this course to your everyday setting,
    because if you don't, other people out there will do worse things to you then this course has the authority to...
</p>

<p>
    Anyway, let's both see if you've got what it takes to reach the end >:)
</p>

<p>
    Kind regards,<br  />
    The Ocean One Team
</p>