<p>Hi!</p>
<p>
    We detected unusual activity on your account during a usually unactive time-period. Can you verify your details
    by following the supplied link to determine whether this was you or not? <i>If you do not confirm this activity your account will remain locked</i>.
</p>

<p>
    <!-- This is the phishing link that triggers the fake remote access takeover -->
    <a href="#" id="phish-link" title="https://secure-update-alert.com.login-verify-security.com/session?id=843761">
        Verify your account securely
    </a>
</p>

<p>
    Best regards,<br  />
    Account Security Team
</p>