<p>
    To kickstart the course, let's introduce the concept of phishing. "Phishing", is a social-engineering technique
    that attempts to deceive you into revealing sensitive information, or to visit a website that holds a convincing
    facade of whom it's trying to impersonate.
</p>
<p>
    Fortunately there are several tell-tale signs to look for in case you are unsure whether an email is legitimate or
    not.
</p>
<ul>
    <li>
        The senders email address is not actually from the official site's domain. For instance 'no-reply@spot1fy.com'
    </li>
    <li>
        The message contains several spelling mistakes, and may not address you by your account name. i.e. 'Dear User,'.
        However, this is not as common these days because of the use of AI for fairly accurate translations or text generation.
    </li>
    <li>
        The topic of the message regards some sensitive details whether to do with your bank details, or your password.
    </li>
    <li>
        The message pushes you to press a link attached to the email.
    </li>
</ul>